.singleCard{
     box-shadow: 1px 2px 10px 2px rgb(195, 195, 255);
     border-radius: 10px;
}

.singleCard:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.04);
}
.cardDetails{
    line-height: 12px;
}
.rating{
    color: goldenrod;
}
.addcartbtn{
    background-color: goldenrod;
    border: none;
    border-radius: 6px;
    padding: 8px;
    margin-top: 10px;
    color: white;
}